
@font-face {
    font-family: Syne;
    src: url(/fonts/Syne/Syne-VariableFont_wght.ttf);
}
@font-face {
    font-family: Space_mono;
    src: url(/fonts/Space_Mono/SpaceMono-Bold.ttf);
    src: url(/fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
    src: url(/fonts/Space_Mono/SpaceMono-Italic.ttf);
    src: url(/fonts/Space_Mono/SpaceMono-Regular.ttf);
}

:root{
    --sand: #CCC3B1;
    --brown: #595244;
    --white: #FEFDFC;
    --title: Syne;
    --body: Space_mono;
}

body {
    background-color: var(--sand);
    color: var(--brown);
    font-family: Space_mono;

}

h1, h2, h3 {
    font-family: var(--title);
    font-weight: bolder;
}

nav {
    display: flex;
    color: white;
    align-items: center;
    background-color: var(--brown);
    justify-content: space-between;
    padding: 15px;;
}

a {
    text-decoration: none;
    color: inherit
}

.title{
    font-family: var(--title) !important;
    font-weight: bolder;
    font-size: 2rem;
}

legend {
    font-weight: bolder;
    padding: 15px;;
    font-size: 2rem;
    text-align: center;
    background-color: white;
}

fieldset {
    border-radius: 1%;
    border-style: double;
    border: 10px;
    padding: 0;
    margin: 0;
    border-color: var(--brown);
    width: 40vw;
    text-align: left;
}

.nav-container {
    display: flex;
    justify-content: right;
    gap: 5rem;
    font-family: var(--body);
    font-size: 1.5rem;
}

nav:hover {
    background-color: white;
}

.about {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vh;
    margin: 0;
    padding: 4rem;
    gap: 0rem;
    font-family: var(--body);
    font-size: 1.5rem;
    column-gap: 0;
}

.kente {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 20px;
    background-color: var(--white);
    padding: 0 20px;
}

.kente-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.vl {
border-left: 3px solid #595244;
  height: 500px;
}