
@font-face {
    font-family: Syne;
    src: url(/fonts/Syne/Syne-VariableFont_wght.ttf);
}
@font-face {
    font-family: Space_mono;
    src: url(/fonts/Space_Mono/SpaceMono-Bold.ttf);
    src: url(/fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
    src: url(/fonts/Space_Mono/SpaceMono-Italic.ttf);
    src: url(/fonts/Space_Mono/SpaceMono-Regular.ttf);
}

:root{
    --sand: #CCC3B1;
    --brown: #595244;
    --white: #FEFDFC;
    --title: Syne;
    --body: Space_mono;
}

body {
    background-color: var(--sand);
    color: var(--brown);
    font-family: Space_mono;

}

h1, h2, h3 {
    font-family: var(--title);
    font-weight: bolder;
}

nav {
    display: flex;
    color: white;
    align-items: center;
    background-color: var(--brown);
    justify-content: space-between;
    padding: 15px;;
}

a {
    text-decoration: none;
    color: inherit
}

.title{
    font-family: var(--title) !important;
    font-weight: bolder;
    font-size: 2rem;
}

legend {
    font-weight: bolder;
    padding: 15px;;
    font-size: 2rem;
    text-align: center;
    background-color: white;
    color: var(--brown);
}

fieldset {
    border-radius: 1%;
    border-style: double;
    border: 10px;
    padding: 0;
    margin: 0;
    border-color: var(--brown);
    width: 40vw;
    color: white;
    text-align: left;
    background-color: rgba(89, 82, 68, 0.9);
    padding: 30px;
    border-radius: 1rem;
}

.nav-container {
    display: flex;
    justify-content: right;
    gap: 5rem;
    font-family: var(--body);
    font-size: 1.5rem;
    width: 100vw;
}

nav a:hover {
    background-color: white;
    color: var(--brown);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    margin: 0;
    gap: 0rem;
    font-family: var(--body);
    font-size: 1.5rem;
    background-image: url(/images/IMG_0512.jpeg);
    background-size: 60vw 60vh;
    background-repeat: no-repeat;
    background-position: 50%;
    
}


.kente-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-sections {
    font-size: 1.5em;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: auto;
}

.vl {
border-left: 3px solid #595244;
  height: 500px;
}
